<div class="sidebar">

        <div class="sidebar-section">
             <h5><span>Recommended Sites</span></h5>
<a href="http://www.droidsrobotics.org" title="8027 Team Page"><img src="{{ site.baseurl }}/assets/images/8027.png" alt="8027 Team Page" /></a><br /><br />
<a href="https://www.facebook.com/groups/FRCShareandLearn/" title="Network with other FRC teams"><img src="{{ site.baseurl }}/assets/images/ShareandLearn.jpg" alt="Network with other FRC Teams" /></a>
<br /><br />


           <a href="http://www.FLLTutorials.com" title="Resources for FLL teams"><img src="{{ site.baseurl }}/assets/images/FLLTutorials.png" alt="Resources for FLL Teams" /></a>
           <br /><br />
           <a href="http://www.ev3lessons.com" title="Learn EV3 Programming" ><img src="{{ site.baseurl }}/assets/images/ev3lessons.png" alt="Learn to Program the EV3" /></a>
           <br /><br />

        </div>

</div>
